
.head {
    width:92%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.head-1 {
    background-color:lightgray;
    width:220px;
    height:260px;
}

.head-card {
    width: 40%;
    margin: auto;
    display: flex;
    margin-top: 20px;
}

.head-card1 {
    background-color: lightgray;
    width: 600px;
    height: 260px;
}

.tit{
    width:50%;
    display: flex;
    margin: auto;
    background-color: lightgray;
    height: 50px;
    margin-top: 20px;
}